*{
    margin: 0px; 
    padding: 0px;
    list-style: none;
}
.carrito{
    color: #FFF;
}
.carrito:hover{
    color: lightgreen;
}
ul li tbody td a{
    width: 50px;
    height: 25px;
    border-radius: 10%;
    color: red;
    display: inline-block;
    text-align: center;
    transition: .5s;
}
ul li tbody td a:hover{
    background-color: red;
    color: #FFF;
    text-decoration: none;
}
td img{
    width: 100px;
    height: 70px;
}
.content{
    margin-top: 100px;
}
.card{
    width: 23%;
}
.card img{
    width: 100%;
    height: 200px;
}
.card .precio{
    text-decoration: line-through;
}
.card .precio span{
    float: right;
    font-size: 1.5rem;
}
.card a{
    padding: 10px;
    font-size: 1rem;
    line-height: 1rem;
}